@use "./variables" as *;

.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; // bunu yazmasanda implicit olarak böyle gerçekleşecek bu

    grid-gap: 6rem;

}